<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alumni SignUp</title>
  <style>
/* Full-width inputs */
input[type=email], input[type=password],input[type=text],input[type=number],select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
input[type=submit] {
/*min-width: 100px;*/
width: 25%;
border-radius:50px;
padding: 12px 20px;
margin: 8px 0;
background-color: #3498db;
color:white;
border:none;
}
label{
    float:left;
}
</style>
    {% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v4.9.1
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
        <center>
      <div class="container col-lg-4">
        <h2>Alumni SignUp</h2>
        <form action="addUser/" name="regform" method="POST">
        {% csrf_token %}
        <label>Name</label><br>
        <input style="width:49.5%;" type="text" name="fname" placeholder="Enter First Name" pattern="[A-Za-z]{3,}" required>
        <input style="width:49.5%;" type="text" name="lname" placeholder="Enter Last Name" pattern="[A-Za-z]{3,}" required>
        <br>
        <label>Email Id</label><br>
        <input type="email" name="mail" placeholder="Enter Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <br>
        <label>Branch</label><br>
        <select name="branch">
          <option>-----Select Branch-----</option>
          <option value="MCA">MCA</option>
        </select>
        <br>
        <label>Year Of Admission</label><br>
        <select name="yoa" id='date-dropdown'>
        </select>
        <br>
        <label>Mobile</label><br>
        <input type="number" name="mobile" pattern="[6789][0-9]{9}" placeholder="Enter Mobile Number" required>
        <br>
        <label>Password</label><br>
        <input style="width:49.5%;" name="psw" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" required>
        <input style="width:49.5%;" name="cpsw" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" required>
        <br>
        <input type="submit" value="SUBMIT">
        </form>
    
      </div>
    </center>
    <script>
      let dateDropdown = document.getElementById('date-dropdown'); 
           
      let currentYear = new Date().getFullYear();    
      let earliestYear = 1957;
      while (currentYear >= earliestYear) {      
        let dateOption = document.createElement('option');          
        dateOption.text = currentYear-1;      
        dateOption.value = currentYear-1;        
        dateDropdown.add(dateOption);      
        currentYear -= 1;    
      }
    </script>

</body>

</html>