


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alumni Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets2/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets2/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets2/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    /* Full-width inputs */
    input[type=email], input[type=password],input[type=text],input[type=number],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    input[type=submit] {
    /*min-width: 100px;*/
    width: 25%;
    border-radius:50px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #3498db;
    color:white;
    border:none;
    }
    label{
        float:left;
    }
    </style>
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="../../alumnis" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assets2/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">ALUMNI-CONNECT</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Alumni Registration</h5>
                  </div>
                  <form action="addUser/" name="regform" method="POST">
                    {% csrf_token %}
                    <label>Name</label><br>
                    <input style="width:49.5%;" type="text" name="fname" placeholder="Enter First Name" pattern="[A-Za-z]{3,}" required>
                    <input style="width:49.5%;" type="text" name="lname" placeholder="Enter Last Name" pattern="[A-Za-z]{3,}" required>
                    <br>
                    <label>Email Id</label><br>
                    <input type="email" name="mail" placeholder="Enter Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    <br>
                    <label>Branch</label><br>
                    <select name="branch">
                      <option>-----Select Branch-----</option>
                      <option value="MCA">MCA</option>
                    </select>
                    <br>
                    <label>Year Of Admission</label><br>
                    <select name="yoa" id='date-dropdown'>
                    </select>
                    <br>
                    <label>Mobile</label><br>
                    <input type="number" name="mobile" pattern="[6789][0-9]{9}" placeholder="Enter Mobile Number" required>
                    <br>
                    <label>Password</label><br>
                    <input style="width:49.5%;" name="psw" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" required>
                    <input style="width:49.5%;" name="cpsw" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" required>
                    <br>
                    <input type="submit" value="SUBMIT">
                    </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets2/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets2/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets2/js/main.js' %}"></script>
  <script>
    let dateDropdown = document.getElementById('date-dropdown'); 
         
    let currentYear = new Date().getFullYear();    
    let earliestYear = 1957;
    while (currentYear >= earliestYear) {      
      let dateOption = document.createElement('option');          
      dateOption.text = currentYear-1;      
      dateOption.value = currentYear-1;        
      dateDropdown.add(dateOption);      
      currentYear -= 1;    
    }
  </script>
</body>

</html>