<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ALUMNI-CONNECT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets2/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets2/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<style>
  .img1{
    background-image: url('{% static "assets/img/more-services-2.jpg" %}');
  }
</style>
  <!-- =======================================================
  * Template Name: Vesperr - v4.9.1
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="">ALUMNI-CONNECT</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">News & Events</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#team">Alumni</a></li>
          <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="alumniSignIn">Alumni</a></li>
              <li><a href="FacultySignIn">Faculty</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="alumniReg/">SignUp</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Join the ALUMNI Community Now</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Connecting together past present and future</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="alumniReg/" class="btn-get-started scrollto">SignUp</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'assets/img/al2.jpg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p style="text-align: justify;text-justify: inter-word;">
              The Department of Computer Applications started in the year 1986 with the introduction of 3 year MCA program affiliated to Kerala University. From 2016 onwards, the programme is affiliated to APJ Abdul Kalam Kerala Technological University and from 2020 onwards the duration is reduced to 2 years. Since its inception in 1986, the department ensures that our students are given a strong foundation in computer science, and are made adaptable to changes. Our department is blessed with committed and experienced teaching faculty and the state-of-the-art infrastructure for delivering quality education and preparing the students acceptable to both industries and higher institutions of learning.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Enhance Institute Branding</li>
              <li><i class="ri-check-double-line"></i> Engaged Alumni Community</li>
              <li><i class="ri-check-double-line"></i> Professional Network</li>
              <li><i class="ri-check-double-line"></i> Giving Back to Society</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p style="text-align: justify;text-justify: inter-word;">
              Alumni-Connect is an association of graduates or, more broadly, of former students (alumni).These associations often organize social events, publish newsletters or magazines, and raise funds for the organization.Many provide a variety of benefits and services that help alumni maintain connections to their educational institution and fellow graduates.</p><p style="text-align: justify;text-justify: inter-word;">

TKM College Of Engineering is one of the most distinctive colleges in Kerala. For Alumni, the years spent as a student are among the most exciting and challenging of our lives. We all leave TKM with strong feelings about the College and a sense that we have formed a unique identity.One of the purposes of the Alumni Connect is to encourage and promote that connection. Its goal is to keep that connection alive and to give it a practical quality by organizing programs and services for Alumni. Another purpose is to represent Alumni views to the College and to develop ways that Alumni can be involved with current students.</p><p style="text-align: justify;text-justify: inter-word;">

The founder Principal of the TKM Dr.T A Shahul Hameed took special care to enhance the reputation of TKM Alumni-Connect. With the strong support by the TKM Management and the continuous involvement of the Principal and the faculty of TKM, the alumni association is carrying out various tasks throughout the year. These tasks aim at not only bringing the members to a close family atmosphere but also carrying out various service activities.Every year the TKM  Alumni Connect organizes events like Alumni Day, Young Alumni Meet, Technical Meetings, Entrepreneurship development programmes and product exhibitions.
</p><p style="text-align: justify;text-justify: inter-word;">It's operating Alumni – instituted awards to be given for students of academic excellence.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>News & Events</h2>
        </div>

        <div class="row">
          {% for i in events %}
          <div style="margin-top:20px;" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-calendar-date"></i></div>
              <h4 class="title"><a href="">On {{ i.1 }}</a></h4>
              <p class="description">{{ i.0 }}</p>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          {% for i in events1 %}
          <div style="margin-top:20px;" class="col-md-6 d-flex align-items-stretch">
            <div class="card" style="background-image: url('{% static "assets2/img/events/company-event.png" %}');" data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">{{ i.0 }}</a></h5>
                <p class="card-text">{{ i.3 }}</p>
              </div>
            </div>
          </div>
          
        {% endfor %}
        </div>

      </div>
    </section><!-- End More Services Section -->

    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Thoughts</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets2/img/thangalKunjuMusaliar.jpg' %}" class="testimonial-img" alt="">
                  <h3>Thangal Kunju Musaliar</h3>
                  <h4>Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    When the mind begins to experience the sensation of physical comfort, joy or satisfied desires; the intelligence has to act as a judge with consciousness as mediator.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets2/img/principal.jpg' %}" class="testimonial-img" alt="">
                  <h3>Dr. T A Shahul Hameed</h3>
                  <h4>Principal</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Excellence is a habit, especially when it comes to the teaching learning process which was built by our great teachers.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets2/img/chairman.png' %}" class="testimonial-img" alt="">
                  <h3>T.K.SHAHAL HASSAN MUSALIAR</h3>
                  <h4>Chairman</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    While scientists study the world as it is, engineers create the world that has never been.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>GALLERY</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          {% for i in g %}
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              {% if i.pic %}
                <img src="{% static 'media/' %}{{ i.pic }}" class="img-fluid" alt="">
              {% else %}
              <img src="{% static 'assets2/img/events/defaultevent.png' %}" class="img-fluid" alt="">
              {% endif %}
              <div class="portfolio-info">
                
                <div class="portfolio-links">
                {% if i.pic %}
                <a href="{% static 'media/' %}{{ i.pic }}" data-gallery="portfolioGallery"  target="_blank" class="portfolio-lightbox" title="View Image"><i class="bi bi-eye-fill"></i></a>
                {% else %}
                <a href="{% static 'assets2/img/events/defaultevent.png' %}" target="_blank" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Add Image"><i class="bi bi-eye-fill"></i></a>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets2/img/events/slide1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div class="portfolio-links">
                <a href="{% static 'assets2/img/events/slide1.jpg' %}" target="_blank" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Add Image"><i class="bi bi-eye-fill"></i></a>
              
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets2/img/events/slide2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div class="portfolio-links">
                <a href="{% static 'assets2/img/events/slide2.jpg' %}" target="_blank" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Add Image"><i class="bi bi-eye-fill"></i></a>
              
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets2/img/events/slide3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div class="portfolio-links">
                <a href="{% static 'assets2/img/events/slide3.jpg' %}" target="_blank" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Add Image"><i class="bi bi-eye-fill"></i></a>
              
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>ALUMNI</h2>
        </div>

        <div class="row">
          {% for i in alumniList %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  {% if i.5 %}
                  <img src="{% static 'media/' %}{{ i.5 }}" class="img-fluid" alt="">
                  {% else %}
                  <img src="{% static 'assets2/img/profile-img.jpg' %}" class="img-fluid" alt="">
                  {% endif %}
                  <div class="social">
                    <a href="{{ i.3 }}" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>{{ i.1 }} {{ i.2 }}</h4>
                  <span>{{ i.4 }} <br>At<br>{{ i.6 }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>ALUMNI-CONNECT</h3>
              <p style="text-align: justify;text-justify: inter-word;">An association of graduates (alumni) , more
                broadly, of former students. Alumni are one of the most important assets to any
                college. The main aim of this project is to make it possible for the alumni to
                keep in touch with college, which is very vital to establish a long-term
                relationship . </p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p> TKMCE Karicode, Kollam-691005</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>tkmce.alumniportal@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+91 474-2712024</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="feedback" method="POST" role="form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <br>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <br>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <br>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <br>
              <div class="text-center"><button style="background-color:#03b6fc;color:white;border:none; height:40px; width:200px;border-radius:20px" type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>ALUMNI-CONNECT</strong>.
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>